{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/style/styleConnect.css">
{% endblock %}

{% block body %}

        <div class="container">
            <div class="row">
                <div class="col-sm-12-8">
                    {# Carousel #}
                    <div id="carouselExample" class="carousel slide"  data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for photo in galery.photos %}
                                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                    <img class="" src="{{ ('/uploads/' ~ photo.path) }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {# Biography #}
                <div class="col-md-4 mt-5">
                    <img src="/images/photographer2.jpg" height="90%" width="95%" alt="photographer" />
                </div>
                <div class="col-md-8 mt-5">
                    <h1>A propos de moi</h1>
                    <div class="hometext">
                    <p>L'univers de la photographie m'a toujours attiré depuis le plus jeune âge.</p>
                    <p>La photographie permet de témoigner de l'éphémère à l'instant du déclic</p>
                    <p>Passionné par mon travail de photographe, Je me déplace sur toute la France
                        et à l'étranger.</p>
                    <p>N'hésitez pas à me contacter pour vos projets photographiques. Je me consacrerais totalement à vous en prenant en compte vos différents besoins.</p>
                    </div>
                    <p> Accédez à mes photos : <a class="text-decoration-none" href="{{ path("galery_index") }}">Galeries</a> </p>
                </div>
            </div>
        </div>

{% endblock %}
