{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/photographer.jpg" height="90%" width="95%" alt="photographer" />
            </div>
            <div class="col-md-8">
            <h1> A propos de moi</h1>
            <p>L’univers de la photographie m’a toujours attiré depuis le plus jeune âge.

            <p>Passionné par mon travail de photographe, Je me déplace sur toute la France
                    et à l'étranger.</p>

            <p>Vous trouverez sur le site des exemples de mes travaux</p>

            <p>N’hésitez pas à me contacter pour vos projets photographiques. Je me consacrerais totalement à vous en prenant en compte vos différents besoins.</p>
            </div>
            {#  <div class="col-xs-12">
                   {%  for photo in galery.photos %}
                     <img src="/uploads/{{ photo.path }}">
                     {% endfor %}
            </div> #}

            <div class="col-md-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for photo in galery.photos %}
                            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" data-bs-interval="2000">
                                <img src="/uploads/{{ photo.path }}">d
                            </div>
                        {% else %}
                            Aucune photo trouvée.
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <div>
{% endblock %}
