{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
<div class="pink-stripe">
    <h1>
        Let's start coding &#129304;
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias aspernatur consequatur dicta
        dignissimos eum exercitationem illo in incidunt ipsam nesciunt optio placeat quas quibusdam quidem repellat
        rerum, tempore velit voluptatibus? Ad amet asperiores at, deleniti dolorum impedit, labore non odio porro qui
        quidem rem sed, similique ullam voluptatem! Asperiores at expedita minima nihil officia praesentium quam qui
        sunt ut vitae! Assumenda autem consequatur cumque dolore earum excepturi fuga harum iste maxime minima officiis
        optio, placeat quia quos repudiandae rerum totam vel vero voluptates voluptatibus! Aliquam, amet assumenda culpa
        cupiditate eos iure nemo quaerat quas repellendus, reprehenderit sunt voluptate?</p>
    <p>At commodi cupiditate dicta dolorem minima natus nulla quos! Ab asperiores consequuntur culpa dolore dolores,
        neque nobis, odit officia quam qui, saepe sit suscipit temporibus totam veritatis voluptas voluptatum? Ab aut,
        culpa ducimus excepturi fuga laboriosam libero molestiae mollitia nisi pariatur placeat praesentium provident,
        quasi quis quo, quod repellat voluptate? Autem, commodi dolores earum impedit neque quam sed unde vero
        voluptatem! Culpa delectus est exercitationem itaque minima soluta! Adipisci assumenda aut, beatae consequatur
        consequuntur dignissimos dolor, illo ipsa, ipsam laudantium minus nihil nulla possimus quaerat quis quos
        similique sint soluta sunt voluptatem? Ex nulla, quod? Architecto cupiditate labore maxime praesentium.</p>
    <p>Aliquid, at autem consequatur corporis culpa cupiditate earum esse fuga fugit harum id illo libero magni maxime
        minima modi nam odio praesentium quidem repellat sit sunt totam vitae! Doloremque, similique, vitae. Aliquam
        aliquid aspernatur at atque autem distinctio earum eligendi esse eum excepturi explicabo fugit harum incidunt
        iste modi mollitia nesciunt non odit, officiis possimus praesentium quas quisquam quos sapiente similique
        suscipit totam veniam! Aliquam dolore dolores est ipsum minima quasi, sit voluptatibus! Aliquam assumenda
        commodi culpa, debitis, distinctio dolor doloremque earum error ex fuga fugit, illo ipsa itaque mollitia non
        numquam officiis pariatur perspiciatis possimus quo reprehenderit sunt suscipit!</p>
    <p>Accusantium amet atque dolores doloribus eaque, mollitia necessitatibus nesciunt nobis odio quidem quod, quos
        repellat saepe sequi soluta ut vero voluptatibus. Consequuntur dolorum eligendi ex ipsam molestiae mollitia
        nulla possimus quam rem vero. Ab consequatur est magnam minima neque nulla officiis sunt suscipit veniam vitae.
        Accusamus debitis deleniti deserunt dolor error eveniet, excepturi illum ipsum labore maiores obcaecati
        perferendis placeat porro saepe similique voluptas voluptatum? Accusantium architecto deserunt explicabo illum
        laudantium nesciunt nostrum optio. Accusamus dicta dolores ex labore, minus necessitatibus quae sit
        voluptatibus! Consequatur ea enim facilis ipsa nisi odio pariatur possimus quaerat quidem totam? Ad eveniet
        magnam neque?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias aspernatur consequatur dicta
        dignissimos eum exercitationem illo in incidunt ipsam nesciunt optio placeat quas quibusdam quidem repellat
        rerum, tempore velit voluptatibus? Ad amet asperiores at, deleniti dolorum impedit, labore non odio porro qui
        quidem rem sed, similique ullam voluptatem! Asperiores at expedita minima nihil officia praesentium quam qui
        sunt ut vitae! Assumenda autem consequatur cumque dolore earum excepturi fuga harum iste maxime minima officiis
        optio, placeat quia quos repudiandae rerum totam vel vero voluptates voluptatibus! Aliquam, amet assumenda culpa
        cupiditate eos iure nemo quaerat quas repellendus, reprehenderit sunt voluptate?</p>
    <p>At commodi cupiditate dicta dolorem minima natus nulla quos! Ab asperiores consequuntur culpa dolore dolores,
        neque nobis, odit officia quam qui, saepe sit suscipit temporibus totam veritatis voluptas voluptatum? Ab aut,
        culpa ducimus excepturi fuga laboriosam libero molestiae mollitia nisi pariatur placeat praesentium provident,
        quasi quis quo, quod repellat voluptate? Autem, commodi dolores earum impedit neque quam sed unde vero
        voluptatem! Culpa delectus est exercitationem itaque minima soluta! Adipisci assumenda aut, beatae consequatur
        consequuntur dignissimos dolor, illo ipsa, ipsam laudantium minus nihil nulla possimus quaerat quis quos
        similique sint soluta sunt voluptatem? Ex nulla, quod? Architecto cupiditate labore maxime praesentium.</p>
    <p>Aliquid, at autem consequatur corporis culpa cupiditate earum esse fuga fugit harum id illo libero magni maxime
        minima modi nam odio praesentium quidem repellat sit sunt totam vitae! Doloremque, similique, vitae. Aliquam
        aliquid aspernatur at atque autem distinctio earum eligendi esse eum excepturi explicabo fugit harum incidunt
        iste modi mollitia nesciunt non odit, officiis possimus praesentium quas quisquam quos sapiente similique
        suscipit totam veniam! Aliquam dolore dolores est ipsum minima quasi, sit voluptatibus! Aliquam assumenda
        commodi culpa, debitis, distinctio dolor doloremque earum error ex fuga fugit, illo ipsa itaque mollitia non
        numquam officiis pariatur perspiciatis possimus quo reprehenderit sunt suscipit!</p>
    <p>Accusantium amet atque dolores doloribus eaque, mollitia necessitatibus nesciunt nobis odio quidem quod, quos
        repellat saepe sequi soluta ut vero voluptatibus. Consequuntur dolorum eligendi ex ipsam molestiae mollitia
        nulla possimus quam rem vero. Ab consequatur est magnam minima neque nulla officiis sunt suscipit veniam vitae.
        Accusamus debitis deleniti deserunt dolor error eveniet, excepturi illum ipsum labore maiores obcaecati
        perferendis placeat porro saepe similique voluptas voluptatum? Accusantium architecto deserunt explicabo illum
        laudantium nesciunt nostrum optio. Accusamus dicta dolores ex labore, minus necessitatibus quae sit
        voluptatibus! Consequatur ea enim facilis ipsa nisi odio pariatur possimus quaerat quidem totam? Ad eveniet
        magnam neque?</p>
</div>
</div>
{% endblock %}
