{% extends 'adminBase.html.twig' %}

{% block title %} Admin connect {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/styles/styleConnect.css">
{% endblock %}
{% block header %} {% endblock %}

{% block body %}
    <div id="container">
        <h1>Se connecter</h1>
        <form class="text-white" action="{{ path('connect') }}" method="post">
            {% if error %}
                <div class="errorMsg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
                <input  class="text-white" type="text" id="username" name="_username" placeholder="username" value="{{ last_username }}"/>
                <input class="text-white" type="password" id="password" name="_password" placeholder="password" />
                <button class="btn btn-success " type="submit">Valider</button>
        </form>
    </div>
{% endblock %}



