<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('admin_galery_index') }}">Galeries List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('admin_galery_new') }}">New Galery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('photo_index') }}">Photo View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('photo_new') }}">New Photo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Admin Dashboard</a>
    </li>
</ul>
