<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('admin_galery_index') }}">Galleries List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('admin_galery_new') }}">New Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('photo_index') }}">Photos View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('photo_new2') }}">Add Photos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Admin Dashboard</a>
    </li>
    <li class="nav-item">
        <form method="post" action="/logout">
            <button type="submit" class="btn btn-primary"><i class=" play-icon fab fa-youtube" ></i>Log Out</button>
        </form>
    </li>
</ul>
