{% extends 'adminBase.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ include('adminDashboard/admin/_adminNavBar.html.twig') }}
    <div class="example-wrapper">
    </div>
{% endblock %}
