{% extends 'adminBase.html.twig' %}

{% block title %}Nouvelle photo{% endblock %}
{% block stylesheets %}
    <style>
        .photo {
            background: rgb(16, 133, 100);
            background: linear-gradient(286deg, rgba(16, 133, 100, 1) 0%, rgba(25, 135, 84, 1) 50%);
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container mt-5 mb-5" style="width: 80%">

        <div class="card mb-3">
            <div class="photo card-header bg-success" style="width:95%; height: 10%; position: relative; bottom:20px; left:20px;" >
                <h4 class="card-title text-light text-uppercase">ajouter une photo</h4>
            </div>
        {{ include('adminDashboard/photo/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
