{% extends 'adminBase.html.twig' %}

{% block title %}Modifier la Galerie{% endblock %}
{% block stylesheets %}
    <style>
        .gallery {
            background: rgb(255,168,7);
            background: linear-gradient(286deg, rgba(255,168,7,1) 0%, rgba(255,193,7,1) 50%);
        }
    </style>
{% endblock %}
{% block body %}
     <div class="container mt-5" style="width: 80%">
        <div class="card mb-3">
            <div class="gallery card-header bg-warning " style="width:95%; height: 10%; position: relative; bottom:20px; left:20px;" >
                    <h4 class="card-title text-light text-uppercase">modifier la galerie: <span class="pr-3"></span>{{ galery.title }} </h4>
            </div>
            {{ include('adminDashboard/galery/_form.html.twig', {'button_label': 'Update galery'}) }}
        </div>
            {{ include('adminDashboard/galery/_delete_form.html.twig') }}
         </div>
{% endblock %}
