{% extends 'base.html.twig' %}

{% block title %}New Galery{% endblock %}

{% block body %}
{{ include('adminDashboard/admin/_adminNavBar.html.twig') }}
<section class="jumbotron" style="background-color: white;">
    <div class="card mb-3">
        <div class="card-header bg-warning" style="width:95%; height: 10%; position: relative; bottom:20px; left:20px;" >
            <h4 class="card-title text-light text-uppercase">create new gallery</h4>
        </div>
    {{ include('adminDashboard/galery/_form.html.twig') }}
    </div>
    {#  <a href="{{ path('admin_galery_index') }}">back to list</a>#}
</section>
{% endblock %}

