:root {
    --white-bckg: #FFFFFF;
}


/********************* HOMEPAGE *********************/


.text-c {
    font-family: "Freestyle Script";
    text-align: center;
    font-size: large;
}
.navbar-name {
    text-align: justify;
}


/************* GALLERY ******************************/

.bg-img{
    background-image: url("/images/pont-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-top {
    font-family: "Segoe UI Symbol";
    text-align: center;
}
.carousel-inner {
    opacity: 1;
    background: none;
}
#carouselExample {
    margin: 0 auto;
    margin-top: 120px;
}
.carousel-item {
    width: 100%;
    height: auto;
 }

