:root {
    --white-bckg: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/********************* HOMEPAGE *********************/


.text-center {
    font-family: "Freestyle Script";
    font-size: large;
}

.navbar-name{
    text-align: justify;
}
