:root {
    --white-bckg: #FFFFFF;
}


/********************* HOMEPAGE *********************/


.text-center {
    font-family: "Freestyle Script";
    font-size: large;
}

.navbar-name{
    text-align: justify;
}
