<div class="container-fluid" id="footer">
	<footer class="py-3 ">
		<hr>
		<div class="footer-top">
				<p class="nav-item ms-3"><a href="javascript:window.location.href=window.location.href">Retour haut de page</a></p>
		</div>
		<div class="footer-bottom">
			<p class="text-c">&copy; 2021 Agnès-Alix Rivière, WildPhotoSchool</p>
		</div>
	</footer>
</div>
