<div class="container-fluid" id="footer">
	<hr>
	<div class="footer-top">
		<button onclick="Scrollback_topfunc()" id="backbtn" title="Retour haut de page">↑</button>
	</div>
	<footer class="py-3 ">
<<<<<<< HEAD
=======
		<hr>
		<div class="footer-top">
				<p class="nav-item ms-3"><a class="text-decoration-none" href="javascript:window.location.href=window.location.href">Retour haut de page</a></p>
		</div>
>>>>>>> 418fc21de42b51e671ee832a306004fa1461b258
		<div class="footer-bottom">
			<p Align=Center style="font-family:Freestyle Script; font-size: large;">&copy; 2022 Agnès-Alix Rivière, WildPhotoSchool</p>
		</div>
	</footer>
</div>
