<div class="container-fluid" id="footer">
	<footer class="py-3 ">
		<hr>
		<div class="footer-top">
			<ul class="nav">
				<li class="nav-item ms-3"><a href="/" class="nav-link px-2 text-muted">Retour haut de page</a></li>
			</ul>
		</div>
		<div class="footer-bottom">
			<p class="text-center">&copy; 2021 Agnès-Alix Rivière, WildPhotoSchool</p>
		</div>
	</footer>
</div>
