<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img id="logo-navbar" src="/images/photologo1.jpg" width="40%" alt="logo-site-photo"></a>
		<a class="navbar-name" href="/"><img id="logo-navbar" src="/images/photoname1.jpg" width="50%" alt="logo-site-photo"></a>
		<div class="row">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="/galery">Galeries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
