<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<a class="navbar-brand" href="/"><img id="logo-navbar" src="/images/photologo1.jpg" width="85%" alt="logo-site-photo"></a>
			</div>
			<div class="col-md-8" >
				<img src="/images/photoname1.jpg" class="center" alt="logo-site-photo">
			</div>
			<div class="col-md-2">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					<div class="collapse navbar-collapse mt-4	" id="navbarColor03">
						<ul class="navbar-nav me-auto" >
							<li class="nav-item">
								<a class="nav-link active" href="/galery">Galeries</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/contact">Contact</a>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>


	</div>
</nav>
