{% extends 'base.html.twig' %}

{% block title %} Galeries{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container bg-img ">

        <h1 class="fw-light text-center text-lg-start mt-4 ">Galeries</h1>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-start">
            {% for galery in galeries %}
                <div class="col-lg-3 col-md-4 col-6">

                    <a href="{{ path("galery_show", {id: galery.id}) }}" class="d-block mb-4 h-100 text-decoration-none">
                        <div class="card">
                            <img class="img-fluid " src="{{ ('/uploads/' ~ galery.photos[0].path)|imagine_filter('square') }}" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-black text-center">{{ galery.title }}</h5>
                                <p class="card-text text-black text-center">{{ galery.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="card text-center p-4 ">
            <div class="card-body m-1">
                <p class="card-text">Accédez à vos albums photos</p>

                <form action="" method="get">
                    <label>Code D'accès</label>
                    <input name="password" type="password">
                    <button class="btn">Valider</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
