{% extends 'base.html.twig' %}

{% block title %} Galery{% endblock %}

{% block body %}
    <div class="card">
        {% for galery in galeries %}
        <h5 class="card-header">{{ galery.title }}</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">{{ galery.description }}</p>
            <a href="{{ path("galery_show", { id: galery.id }) }}" class="btn btn-primary">Voir les photos</a>
        {% endfor %}
        </div>
    </div>
{% endblock %}
