{% extends 'base.html.twig' %}

{% block title %}New Galery{% endblock %}

{% block body %}
{{ include('admin/_adminNavBar.html.twig') }}
    <h4>Create new Galery</h4>
    {{ include('galery/_form.html.twig') }}
    <a href="{{ path('galery_index') }}">back to list</a>
{% endblock %}

